<template>
  <div class="Education">
    <div class="card">
      <h4 class="card-header">Education</h4>
      <ul class="list-group">
        <li v-for="education in educations" :key="education.id" class="list-group-item">
          <div class="row">
            <div class="col-md-4 text-right w-100 justify-content-between">
              Institute:
            </div>
            <div class="col-md-8 text-left w-100 justify-content-between">
              {{ education.name }}
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 text-right w-100 justify-content-between">
              Province:
            </div>
            <div class="col-md-8 text-left w-100 justify-content-between">
              {{ education.province }}
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 text-right w-100 justify-content-between">
              Degree:
            </div>
            <div class="col-md-8 text-left w-100 justify-content-between">
              {{ education.degree }}
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 text-right w-100 justify-content-between">
              Major:
            </div>
            <div class="col-md-8 text-left w-100 justify-content-between">
              {{ education.major }}
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import Institute from "../../Mixins/Institute.mixins";
export default {
  name: "Education",
  mixins: [Institute],
  data() {
    return {
      educations: [
        {
          id: 1,
          name: "Sukhothai Thammathirat Open University",
          province: "Nonthaburi",
          degree: "Bachelor degree",
          major: "Computer Science"
        },
        {
          id: 2,
          name: "Bangkok Technical of Business Administration School",
          province: "Bangkok",
          degree: "Diploma of Higher Vocational Certificate",
          major: "Accounting"
        },
        {
          id: 3,
          name: "Bangna Commercial College",
          province: "Bangkok",
          degree: "Diploma of Vocational Certificate",
          major: "Accounting"
        }
      ]
    };
  },

  props: {}
};
</script>
