.Profile {
  .CardProfile {
    width: 400px;
    .ProfileLabels {
      text-align: right;
      font-weight: bold;
    }
    .ProfileInfo {
      text-align: left;
    }
  }
  .ProfileImg {
    width: 216px;
    height: 288px;
  }
}
