<template>
  <div class="Profile">
    <!--    <pre v-text="$attrs" />-->
    <div class="card text-center mx-auto CardProfile">
      <h4 class="card-header card-title">Profile</h4>
      <div>
        <img
          :alt="profileImg.split('.')[0]"
          :src="getProfileImg()"
          class="ProfileImg card-img-top"
        />
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-5 ProfileLabels">
            <div>Full Name:</div>
            <div>Nationality:</div>
            <div>Religion:</div>
            <div>Marital Status:</div>
            <div>Phone No:</div>
            <div>Email:</div>
          </div>

          <div class="col-md-7 ProfileInfo">
            <div>{{ firstName }} {{ lastName }}</div>
            <div>{{ nationality }}</div>
            <div>{{ religion }}</div>
            <div>{{ maritalStatus }}</div>
            <div>{{ phoneNo }}</div>
            <div>{{ email }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Person from "../../Mixins/Person.mixins";
import Contact from "../../Mixins/Contact.mixins";
export default {
  name: "Profile",
  mixins: [Person, Contact],
  data() {
    return {
      profileImg: "ProfileImg.jpg",
      isFullNameDisabled: true
    };
  },
  methods: {
    getProfileImg() {
      return require(`../../assets/${this.profileImg}`);
    }
  }
};
</script>

<style scoped lang="scss">
@import "Profile";
</style>
