<template>
  <div class="InputTodo">
    <form @submit.prevent="addItem">
      <input v-model="inputText" />
      <button type="submit">Save</button>
    </form>
  </div>
</template>

<script>
export default {
  name: "InputTodo",
  data: () => {
    return {
      inputText: ""
    };
  },
  methods: {
    addItem() {
      this.$emit("onAddItem", this.inputText);
    }
  },
  props: {}
};
</script>
