<template>
  <div class="TodoList">
    <ul>
      <li v-for="item in items" :key="item.time">
        <button @click="done(item.time)">Done</button>&nbsp;
        {{ item.text }}
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  mounted() {
    console.log(`hello todo list ${this.todos}`);
  },
  methods: {
    done(id) {
      this.$emit('onDone', id)
    }
  },
  // props: ['todos'],
  props: {
    items: Array,
    default: function() {
      return [];
    }
  }
};
</script>
