<template>
  <div class="Resume">
    <div class="row container-fluid" style="margin-top: 75px">
      <div class="w-100 text-lg-center">
        <h1 class="text">My Resume</h1>
      </div>
      <div>
        <div class="row">
          <div class="col-auto ColResume">
            <Profile />
          </div>
          <div class="col-auto ColResume">
            <Education />
          </div>
          <div class="col-auto ColResume">
            <Skill />
          </div>
          <div class="col-auto ColResume">
            <TrainingCourse />
          </div>
          <div class="col-auto ColResume">
            <Experience />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Person from "../../Mixins/Person.mixins";

import Profile from "../../components/Profile/Profile";
import Education from "../../components/Education/Education";
import Experience from "../../components/Experience/Experience";
import Skill from "../../components/Skill/Skill";
import TrainingCourse from "../../components/TrainingCourse/TrainingCourse";

export default {
  name: "Resume",
  mixins: [Person],
  components: { TrainingCourse, Skill, Education, Profile, Experience },
  props: {}
};
</script>

<style scoped lang="scss">
@import "Resume";
</style>
