.Alert {
  // Vars
  $border: 1px solid red;
  $paddingAlert: 10px;
  & {
    //
  }

  // Facets

  // States
  .alert {
    border: $border;
    padding: $paddingAlert;
    .slot-header {
      color: rebeccapurple;
    }
    .slot-body {
      color: indianred;
    }
  }
}
