<template>
  <div class="Alert">
    <!--    <pre v-text="$attrs" />-->
    <div class="alert">
      <slot name="header" />
      <slot name="body" />
    </div>
  </div>
</template>

<script>
export default {
  name: 'Alertttttttttttt',
  props: {}

};
</script>

<style scoped lang="scss">
@import "Alert";
</style>
