<template>
  <div class="TrainingCourse">
    <div class="card">
      <h4 class="card-header">Training & Course</h4>
      <ul class="list-group" style="width: 700px">
        <li v-for="course in courses" :key="course.id" class="list-group-item LiCourse">
          <div class="row">
            <div>
              <b>{{ course.duration }}</b>
            </div>
          </div>
          <div class="row">
            <div class="CourseDescription">
              {{ course.name }}
              {{ course.belonging && "by " }}
              <span v-if="!course.url">{{ course.belonging }}</span>
              <span v-else>
                <a :href="course.url" target="_blank">
                  {{ course.belonging }}
                </a>
              </span>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  name: "TrainingCourse",
  data: () => {
    return {
      courses: [
        {
          id: 1,
          name: '"Code Camp 4: Full Stack NodeJS and ReactJS"',
          duration: "Oct 2019 – Feb 2020",
          belonging: "Software Park and Thai Programmer Association",
          url: null
        },
        {
          id: 2,
          name: '"Spring Boot from Hero to Ninja" Online course',
          duration: "May 2019 – Present",
          belonging: "Javaverse",
          url: "https://java-technologies.teachable.com/"
        },
        {
          id: 3,
          name: '"Data Visualization" Online course',
          duration: "July 2019",
          belonging: "CBS Space Chula",
          url: "https://space.cbs.chula.ac.th/"
        },
        {
          id: 4,
          name: '"11th Spring Fundamental & Spring Boot"',
          duration: "Feb 2019",
          belonging: "Assanai Manurat",
          url: null
        },
        {
          id: 5,
          name: '"2nd Critical Thinking for Business" Online course',
          duration: "Jan 2019",
          belonging: "Chula MOOC",
          url: "https://mooc.chula.ac.th/"
        },
        {
          id: 6,
          name: '"SQL Fundamental" Online course',
          duration: "APR 2018 - May 2018",
          belonging: "Sololearn.com",
          url: "https://www.sololearn.com/Course/SQL"
        },
        {
          id: 7,
          name: '"Under Standing Class and Object with Java" Online course',
          duration: "Apr 2018",
          belonging: "Udemy.com",
          url:
            "https://www.udemy.com/course/understanding-class-and-object-with-java"
        },
        {
          id: 8,
          name: '"Introduction to Honda NHC" Internal Training',
          duration: "May 2018",
          belonging: "Honda",
          url: null
        }
      ]
    };
  },
  props: {}
};
</script>

<style scoped lang="scss">
@import "TrainingCourse";
</style>
