<template>
  <div class="Skill">
    <!--    <pre v-text="$attrs" />-->
    <div class="card">
      <h4 class="card-header">Skill</h4>
      <ul class="list-group">
        <li v-for="skill in skills" :key="skill.id" class="list-group-item">
          <div class="row">
            <div class="w-100 text-left">
              <label style="font-size: 18px;">
                <b>{{ skill.name }}</b>
              </label>
              <ul style="display: flex; list-style-type: none">
                <li v-for="(eachSubSkill, idx) in skill.subSkills" :key="idx">
                  {{
                    idx !== skill.subSkills.length - 1
                      ? eachSubSkill + ","
                      : eachSubSkill
                  }}
                </li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  props: {},
  data: () => {
    return {
      skills: [
        {
          id: 1,
          name: "Programming Language",
          subSkills: ["Java", "TypeScript", "JavaScript", "SQL", "UML"]
        },
        {
          id: 2,
          name: "Framework",
          subSkills: ["Spring boot", "ReactJS", "NodeJS", "Express"]
        },
        {
          id: 3,
          name: "Tool",
          subSkills: [
            "IntelliJ",
            "Visual Studio Code",
            "VIM",
            "Maven",
            "Tomcat",
            "NPM / Yarn"
          ]
        },
        {
          id: 4,
          name: "Database",
          subSkills: ["MySQL", "ProsgreSQL", "Microsoft SQL Server"]
        },
        {
          id: 5,
          name: "Documentation",
          subSkills: ["Microsoft Word", "Excel", "Power Point", "Draw IO"]
        },
        {
          id: 6,
          name: "Related Skill",
          subSkills: ["System Analysis and Design", "Scrum management"]
        }
      ]
    };
  }
};
</script>

<style scoped lang="scss">
@import "Skill";
</style>
