<template>
  <div class="Experience">
    <!--    <pre v-text="$attrs" />-->
    <div class="card">
      <h4 class="card-header">Experience</h4>
      <ul class="list-group" style="width: 700px">
        <li v-for="eachExperience in experience" :key="eachExperience.id" class="list-group-item">
          <div class="row">
            <div class="col-md-2 text-right w-100 justify-content-between">
              <b>Company:</b>
            </div>
            <div class="col-md-10 text-left w-100 justify-content-between">
              {{ eachExperience.company }}
            </div>
          </div>
          <div class="row">
            <div class="col-md-2 text-right w-100 justify-content-between">
              <b>Position:</b>
            </div>
            <div class="col-md-10 text-left w-100 justify-content-between">
              {{ eachExperience.position }}
            </div>
          </div>
          <div class="row">
            <div class="col-md-2 text-right w-100 justify-content-between">
              <b>Duration:</b>
            </div>
            <div class="col-md-10 text-left w-100 justify-content-between">
              {{ eachExperience.duration }}
            </div>
          </div>
          <div class="row">
            <div class="col-md-2 text-right w-100 justify-content-between">
              <b>Duties:</b>
            </div>
            <div class="col-md-10 text-left w-100 justify-content-between">
              <ul>
                <li v-for="(duty, idx) in eachExperience.duties" :key="idx">{{ duty }}</li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  name: "Experience",
  data: () => {
    return {
      experience: [
        {
          id: 1,
          company: "BTC Bangkok",
          position: "IT Support",
          duration: "Jul 2019 – Oct 2019",
          duties: [
            "Solved a problem with computer and program error",
            "Performed Program and Driver installation and update",
            "Fixed printer and scanner",
            "Answer a question for user’s problems in computer"
          ]
        },
        {
          id: 2,
          company: "Code Camp Software Park",
          position: "Teacher Assistant",
          duration: "Mar 2019 – Jun 2019",
          duties: [
            "Consult students for their question",
            "Check homework and review code",
            "Assist teacher in OOP, Java, TypeScript, Spring boot, Angular and etc."
          ]
        },
        {
          id: 3,
          company: "Advanced Info Services",
          position: "Java Developer",
          duration: "Sep 2018 – Mar 2019",
          duties: [
            "Developed Enterprise Product Catalogue Management Web application",
            "Created a Service Set / Reset Password feature with Cryptography",
            "Prepared APIs",
            "Performed in Form Validations",
            "Using Java 1.7 with Spring Boot 1.5.2",
            "Using HTML, CSS and Type Script with Angular 5",
            "Using PostgreSQL"
          ]
        },
        {
          id: 4,
          company: "Honda Automobile (Thailand)",
          position: "IT Helpdesk and Support",
          duration: "Nov 2017 – Apr 2018",
          duties: [
            "Join the team in event Honda NHC 2017 (NHC is the Honda's Quality Control cycle)",
            "Solved a problem with computer and program error",
            "Performed in Program and Driver installation and update",
            "Fixed printer and scanner",
            "Performed in Microsoft Excel for store data in IT Equipment, User ID Request",
            "Answer a question for user’s problems in computer"
          ]
        }
      ]
    };
  },
  props: {}
};
</script>

<style scoped lang="scss">
@import "Experience";
</style>
