#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  .nav.bg-dark {
    height: 50px;
    padding: 0 10px;
    position: fixed;
    top: 0;
    z-index: 9999;
  }
  .logo {
    width: 20px;
    height: 20px;
  }

}
