<template>
  <div id="app">
    <div class="nav container-fluid bg-dark align-items-center">
      <router-link :to="{ name: 'home' }" class="navbar-brand">
        <img class="logo d-inline-block" src="@/assets/logo.png" />
      </router-link>
      <router-link :to="{ name: 'resume' }" class="nav-link nav-fill">
        Resume
      </router-link>
    </div>
    <router-view />
  </div>
</template>

<script>
import Home from "./pages/Home/Home.vue";

export default {
  name: "App",
  methods: {},
  components: {
    Home
  }
};
</script>

<style lang="scss">
@import "App";
</style>
